<div class="admin-container-wrapper">
  <div class="container">
    <div class="GridLex-gap-15-wrappper">
      <div class="GridLex-grid-noGutter-equalHeight">
        
        <%= render 'sidebar' %>

        <div class="GridLex-col-9_sm-8_xs-12">
          <div class="admin-content-wrapper">

            <div class="admin-section-title">
              <h2>Perfil</h2>
              <p>¡ Tu información personal y recetas favoritas !.</p>
            </div>

            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
