<% if current_user %>
  <li class="<%= 'hide' if current_user.has_recipe?(@recipe)%>">
    <%= link_to users_recipe_users_path(recipe_id: @recipe.id), method: :post, remote: true, class: 'js-add-favourite' do %>
      <i class="fa fa-heart-o"></i>
      Agregar a mis recetas
    <% end -%>
  </li>

  <li class="<%= 'hide' if !current_user.has_recipe?(@recipe)%>">
    <%= link_to users_recipe_users_path(recipe_id: @recipe.id), method: :delete, remote: true, class: 'js-add-favourite' do %>
      <i class="fa fa-heart text-danger"></i>
      Quitar de mis recetas
    <% end -%>
  </li>
<% end %>
