<div class="main-wrapper">
  <footer class="footer-wrapper-area">
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <p class="copy-right">&#169; Copyright 2017 UTN - Facultad Regional Tucumán</p>
          </div>

          <div class="col-sm-8 col-md-8">
            <ul class="bottom-footer-menu">
              <li><a href="#">Aguirre Pamela</a></li>
              <li><a href="#">Nieva Ricardo</a></li>
              <li><a href="#">Rosales Gerardo</a></li>
              <li><a href="#">Villalba Martín</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
