<!-- start banner section -->
<div class="bt-block-home-parallax pt-80 pb-80" style="background-image: url(images/reparallax-one.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="lookbook-product">
          <h2>Mejora tu dieta con un informe mas detallado de tu perfil y un seguimiento de un <strong>especialista</strong>. </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end banner section -->