<div class="admin-section-title">
  <h2>Tus recomendaciones</h2>
  <p>ยก Todas tus recomendacciones de tu nutricionista !</p>
</div>

<% if current_user.premium %>
  <%= render 'premium' %>
<% else %>
  <p>ยก Todavia no sos premium ! Saca tu turno con la nutrisionista y mejora tu cuenta para tener recomendaciones personalizadas por un experto. </p>
<% end %>
