<div class="admin-section-title">
  <h2>Recetas favoritas</h2>
  <p>¡ Todas tus recetas en un solo lugar !</p>
</div>

<% if current_user.recipes.any? %>
  <% current_user.recipes.each do |recipe|%>
    <div class="restaurant-item-grid-wrapper">
      <div class="GridLex-gap-30">
        <div class="GridLex-grid-noGutter-equalHeight">
          <div class="GridLex-col-4_sm-6_xs-6_xss-12">
            <div class="restaurant-item-grid">
              <div class="fav-save">
                <a href="#"><i class="fa fa-heart text-danger"></i></a>
              </div>

              <%= link_to recipe_path(recipe) do %>
                <div class="image">
                  <div class="vertical-middle">
                    <img src="/images/brands/06.png" alt="image" />
                  </div>
                </div>

                <div class="content">
                  <h4 class="heading"><%= recipe.name %></h4>
                  <!-- <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Indian</strong> - Paris, France</p> -->
                </div>
              <% end %>

              <div class="content-bottom">
                <div class="sub-category">
                  <%= link_to 'Ver', recipe_path(recipe) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p> ¡ Todavía no tienes recetas cargadas !</p>
<% end %>

